body , html {
    height:100px;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
    }
    
    
    
    .pimg1, .pimg2, .pimg3 {
        position:relative;
        opacity:0.70;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
            
        /*
        fixed = parallax
        scroll = normal
        */
        background-attachment:fixed;
     }
    
    
    .pimg1 {
    background-image:url('https://wallpapercave.com/wp/8X1Muth.png');
    min-height:500%;
    }
    
    
    .pimg2 {
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSknITMV2K8tiQWNv0e7gL1L6y820k0GIl3lA&usqp=CAU');
    min-height:400px;
    }
    
    
    .pimg3 {
    background-image:url('https://img.freepik.com/free-vector/shining-circle-purple-lighting-isolated-dark-background_1441-2396.jpg?size=626&ext=jpg');
    min-height:400px;
    }
    
    
    .section {
        text-align:center;
        padding:50px 80px;
    }
    
    
    .section-light {
        background-color:#282e34;
        color:#ddd;
    }
    
    
    .section-dark {
        background-color:#282e34;
        color:#ddd;
    }
    
    
    .ptext {
        position:absolute;
        top:50%;
        width:100%;
        text-align:center;
        color:#000;
        font-size:27px;
        letter-spacing:8px;
        text-transform:uppercase;
    }
        
        
    .ptext .border {
            background-color:#111;
            color:#fff;
            padding:20px;
        }
        
        
        
    .ptext .border.trans{
        background-color:transparent;
    }
    
    
    @media(max-width:568px){
        .pimg1, .pimg2, .pimg3{
            background-attachment:scroll;
        }
    }