C:/Users/Zainab Bushra/Desktop/wish.html
/WEB Development.html
/Web development.html
/tut64.js
/trying the parallex website.html
/Tic Tac Toe.html
/Survey form.html
/SomeText.html
/SimpleCalculator.html
/Resposive Website.html
/questform.html
/Ques8.html
/Ques7Pictureinsertion.html
/Ques6FormUpdated.html
/Ques5Table.html
/Ques4Table.html
/ques3.html
/ques2Table.html
/putting everything together.html
/project-7.html
/project-6.html
/project-5.html
/Project-4.html
/Project-3.html
/Project-2.html
/Practice_html
/Portfolio.html
/Parallax Website.html
/pageparallax.html
/package-lock.json
/package.json
/mypage.html
/MyFlowersWebsite.html
/My Flowers.html
/My Blog.html
/Mr Panda.html
/JavaS
/index.htmlpractice.html
/index.html
/img scroll.html
/images.html
/HTML5 Draggable.html
/HTML5 (Svg).html
/Html_tutorial_practice.html
/HTML_Practice_chapter3.html
/Html(Pseudoselectors).html
/HTML Transitions and Transforms.html
/HTML Practice with Css.html
/headline.hmtl.html
/grids.html
/form.html
/firstpage.html
/drag and drop.html
/CSS Practice.html
/Calculator.html
/Bushra.txt
/Backend.json
/attributepage.html
/About.html
Parallax Website_files/
Nodejs/
node_modules
My Flowers_files/
javascript/

