wish
WEB Development
Web development
tut64
trying the parallex website
Tic Tac Toe
Survey form 
SomeText
SimpleCalculator
Resposive Website
questform
Ques8
Ques7Pictureinsertion
Ques6FormUpdated
Ques5Table
Ques4Table
ques3
ques2Table
putting everything together
project-7
project-6
project-5
Project-4
Project-3
Project-2
Practice_html
Portfolio
Parallax Website
pageparallax
package-lock
package
mypage
MyFlowersWebsite
My Flowers
My BLog
Mr Panda
landingpage
JavaS
index.htmlpractice
index
img scroll
images
HTML5 Draggable
HTML5 (Svg)
Html_tutorial_practice
HTML_Practice_chapter3
Html(Pseudoselectors)
HTML Transitions and Transforms
HTML Practice with Css
headline.hmtl
grids
form
firstpage
drag and drop
CSS Practice
Calculator
Bushra
Backend
attributepage
AnalogClock
About
Parallax Website_files/
Nodejs/
node_modules
My Flowers_files/
javascript/

